<%= render "form" %>

<!-- <form  action="/cats" method="post">
  Name: <input type='text' name='cat[name]'>
  <br>
  <input type='radio' name='cat[sex]' value='M'> Male
  <br>
  <input type='radio' name='cat[sex]' value='F'> Female
  <br>
  <select name="cat[color]">
    <option>Pick a Color</option>
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="white">White</option>
    <option value="yellow">Yellow</option>
  </select>
  <br>
  Cat's Birthday: <input type="date" name="cat[birth_date]">
  <br>
  Description:
  <textarea name="cat[description]"></textarea>
  <br>
  <input type="submit" value="Submit"/>
</form> -->
