<table>
  <tr>
    <% @cat.attributes.keys[0..-3].each do |attribute| %>
      <th> <%= attribute %></th>
    <% end %>
  </tr>
  <tr>
    <% @cat.attributes.values[0..-3].each do |value| %>
      <td> <%= value %></td>
    <% end %>
  </tr>
</table>
